<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mad Libs with Pictures</title>
</head>
<body>
  <h2>Mad Libs with Pictures</h2>
  <a href="/mad-libs/newpirate">Talk Like a Pirate</a>
  <a href="/mad-libs/newdate">How to Date The Coolest Guy/Girl in School</a>
  <a href="/mad-libs/newstudy">How to Study</a>
  <a href="/mad-libs/newdentist">A Visit to the Dentist</a>
  <div id="existing-holder">
  <% for(var i=0;i<data.length;i++) { %>
    <div class="preview">
    <hr>
      <h3>Previously Created Mad Libs</h3>
      <a href="/mad-libs/<%= data[i]._id %>" ><%= data[i].title %> <%= data[i]._id %></a>
      </div>  
  <% } %>
  </div>
</body>
</html>