<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mad Libs with Pictures</title>
</head>
<body>
  <h2>Mad Libs with Pictures</h2>
  <a href="/mad-libs/newpirate">Talk Like a Pirate</a>
  <a href="/mad-libs/newdate">How to Date The Coolest Guy/Girl in School</a>
  <a href="/mad-libs/newstudy">How to Study</a>
  <a href="/mad-libs/newdentist">A Visit to the Dentist</a>
  <hr>
  <div id="existing-holder">
  <h3>Previously Created Mad Libs</h3>
  <% for(var i=0;i<data.length;i++) { %>
    <% if (data[i].title == "pirate") { %>
      <div class="preview">
        <a href="/mad-libs/pirate/<%= data[i]._id %>" >Talk Like a Pirate</a>
      </div>
    <% } else if (data[i].title == "date") { %>
      <div class="preview">
        <a href="/mad-libs/date/<%= data[i]._id %>" >How to Date The Coolest Guy/Girl in School</a>
      </div>
    <% } else if (data[i].title == "study") { %>
      <div class="preview">
        <a href="/mad-libs/study/<%= data[i]._id %>" >How to Study</a>
      </div>
    <% } else if (data[i].title == "dentist") { %>
      <div class="preview">
        <a href="/mad-libs/dentist/<%= data[i]._id %>" >A Visit to the Dentist</a>
      </div>
    <% } %>
  <% } %>
  </div>
</body>
</html>