<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Talk Like a Pirate</title>
</head>
<body>
  <h2>Talk Like a Pirate</h2>
  <form action="/mad-libs" method="POST">
    <input type="text" name="title" style="display:none" value="Talk Like a Pirate"></input>
    <label>Noun</label>
    <input type="text" name="noun1" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun1" style="display:none" ></input>
    <label>Adjective</label>
    <input type="text" name="adjective1" placeholder="adjective"></input><br><br>
    <label>Verb</label>
    <input type="text" name="verb1" placeholder="verb"></input><br><br>
    <label>Adverb</label>
    <input type="text" name="adverb1" placeholder="adverb"></input><br><br>
    <label>Noun</label>
    <input type="text" name="noun2" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun2" style="display:none" ></input>
    <label>Adjective</label>
    <input type="text" name="adjective2" placeholder="adjective"></input><br><br>
    <label>Plural Noun</label>
    <input type="text" name="pluralNoun1" placeholder="plural noun"></input><br><br>
    <label>Plural Noun</label>
    <input type="text" name="pluralNoun2" placeholder="plural noun"></input><br><br>
    <label>Plural Noun</label>
    <input type="text" name="pluralNoun3" placeholder="plural noun"></input><br><br>
    <label>Part of the Body</label>
    <input type="text" name="partOfTheBody1" placeholder="body part"></input><br><br>
    <label>Noun</label>
    <input type="text" name="noun3" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun3" style="display:none" ></input>
    <label>Noun</label>
    <input type="text" name="noun4" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun4" style="display:none" ></input>
    <label>Noun</label>
    <input type="text" name="noun5" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun5" style="display:none" ></input>
    <label>Noun</label>
    <input type="text" name="noun6" placeholder="noun"></input><br><br>
    <input type="text" name="image_noun6" style="display:none" ></input>
    <label>Part of the Body</label>
    <input type="text" name="partOfTheBody2" placeholder="body part"></input><br><br>
    <button>Submit</button>
  </form>
  <br>
  <br>
<a href="/mad-libs">GO HOME</a>
</body>
</html>