<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Form</title>
</head>
<body>
  <h2>New Form</h2>
  <form action="/test" method="POST">
    <label>Word</label>
    <input type="text" name="word" placeholder="word"></input><br><br>
    <input type="text" name="image" style="display:none" ></input>
    <button>Submit</button>
  </form>
  <br>
  <br>
<a href="/test">GO HOME</a>
</body>
</html>