<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>How to Date The Coolest Guy/Girl in School</title>
</head>
<body>
  <h2>How to Date The Coolest Guy/Girl in School</h2>
  <form action="/mad-libs" method="POST">
    <input type="text" name="title" style="display:none" value="date"></input>
    <label>Plural Noun</label>
    <input type="text" name="pluralNoun1" placeholder="plural noun"></input><br><br>
    <label>Adverb</label>
    <input type="text" name="adverb1" placeholder="adverb"></input><br><br>
    <label>Verb</label>
    <input type="text" name="verb1" placeholder="verb"></input><br><br>
    <label>Article of Clothing</label>
    <input type="text" name="clothing" placeholder="article of clothing"></input><br><br>
    <label>Part of the Body</label>
    <input type="text" name="bodyPart1" placeholder="body part"></input><br><br>
    <label>Adjective</label>
    <input type="text" name="adjective1" placeholder="adjective"></input><br><br>
    <label>Noun</label>
    <input type="text" name="noun1" placeholder="noun"></input><br><br>
    <label>Plural Noun</label>
    <input type="text" name="pluralNoun2" placeholder="plural noun"></input><br><br>
    <label>Part of the Body</label>
    <input type="text" name="bodyPart2" placeholder="body part"></input><br><br>
    <label>Noun</label>
    <input type="text" name="noun2" placeholder="noun"></input><br><br>
    <label>Noun</label>
    <input type="text" name="noun3" placeholder="noun"></input><br><br>
    <label>Verb ending in "ing"</label>
    <input type="text" name="verbing" placeholder="verb ending in 'ing'"></input><br><br>
    <label>Adjective</label>
    <input type="text" name="adjective2" placeholder="adjective"></input><br><br>
    <label>Adjective</label>
    <input type="text" name="adjective3" placeholder="adjective"></input><br><br>
    <label>Verb</label>
    <input type="text" name="verb2" placeholder="verb"></input><br><br>
    <input type="text" name="noun4" style="display:none" ></input>
    <input type="text" name="noun5" style="display:none" ></input>
    <input type="text" name="noun6" style="display:none" ></input>
    <input type="text" name="noun7" style="display:none" ></input>
    <input type="text" name="noun8" style="display:none" ></input>
    <input type="text" name="noun9" style="display:none" ></input>
    <input type="text" name="pluralNoun3" style="display:none" ></input>
    <input type="text" name="bodyPart3" style="display:none" ></input>
    <input type="text" name="adjective4" style="display:none" ></input>
    <input type="text" name="adjective5" style="display:none" ></input>
    <input type="text" name="adjective6" style="display:none" ></input>
    <input type="text" name="exclaim" style="display:none" ></input>
    <input type="text" name="name" style="display:none" ></input>
    <input type="text" name="image1" style="display:none" ></input>
    <input type="text" name="image2" style="display:none" ></input>
    <input type="text" name="image3" style="display:none" ></input>
    <input type="text" name="image4" style="display:none" ></input>
    <button>Submit</button>
  </form>
  <br>
  <br>
<a href="/mad-libs">GO HOME</a>
</body>
</html>